name = "terrain-api"
main = "worker.js"
compatibility_date = "2024-01-01"

# Custom domain route
routes = [{ pattern = "map-api.psiegel.org", custom_domain = true }]

# KV namespace for caching elevation data
[[kv_namespaces]]
binding = "CACHE"
id = "6153cffbc3b949b38fca729d58a85fee"

[observability]
enabled = false

[observability.logs]
enabled = false
head_sampling_rate = 1
invocation_logs = true
persist = true
